<!DOCTYPE html>
{% extends "layaout.html" %}

{% block content %}
<div class="jumbotron">


  <h1 class="display-4">Acceso a grafos desde Arkthar</h1>

  <form action=" " method="post" novalidate>
    <p>
        {{ Holas.Vertices.label }}<br> {{ Holas.Vertices(size=32) }} {% for error in Holas.Vertices.errors %}
        <!-- Se tiene una validacion de errores..  for error in grafo... xD -->
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>
        {{ Holas.Aristas.label }}<br> {{ Holas.Aristas(size=32) }} {% for error in Holas.Aristas.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
    </p>
    <p>{{ Holas.submit() }}</p>
</form>


  <hr class="my-4">
    <p class="lead">Pagina de Arkthar</p>
   
    <p>Haz click para escuchar mi musica :D</p>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=SJbu5j86_wo" role="Purple">Purple</a>





  </div>
{% endblock %}