form 



{% extends "layaout.html" %}

{% block content %}
<div class="jumbotron">


  <h1 class="display-4">Arkthar</h1>
  <form>
    <div class="form-group">
      <label for="{{Form.Vertices.label}}">Vertices</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Tranquilo nosotros no compartiremos tu correo</small>
    </div>
    <div class="form-group">
      <label for="{{Form.Aristas.label}}">Aristas</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="{{Form.Ingresar.label}}">Submit</button>
  </form>

  <hr class="my-4">
    <p class="lead">Pagina de Arkthar</p>
   
    <p>Haz click para escuchar mi musica :D</p>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=SJbu5j86_wo" role="Purple">Purple</a>





  </div>
{% endblock %}