<!DOCTYPE html>
{% extends "layaout.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Dostoievskys</h1>
  <hr class="my-4">
  <form action=" " method="post" novalidate>
      <p>
          {{ grafo.vertices.label }}<br> {{ grafo.vertices(size=32) }} {% for error in grafo.vertices.errors %}
          <!-- Se tiene una validacion de errores..  for error in grafo... xD -->
          <span style="color: red;">[{{ error }}]</span> {% endfor %}
      </p>
      <p>
          {{ grafo.aristas.label }}<br> {{ grafo.aristas(size=32) }} {% for error in grafo.aristas.errors %}
          <span style="color: red;">[{{ error }}]</span> {% endfor %}
      </p>
      <p>{{ grafo.submit() }}</p>
  </form>
  <hr class="my-4">
  <p class="lead">Esta es la pagina de la mujer mas linda del mundo :3</p>
  <p>Haz click para ver una de mis cosas favoritas :3</p>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=77ao2LBa_eY" role="button">Lugar Feliz</a>
</div>
{% endblock %}