{% extends "layaout.html" %}
{% block content %}
<div class="jumbotron">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <h1 class="display-4">Mucho poquito nada?</h1>
    <p class="lead">Me amas mucho, poquito, o nada?</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=wg4cOAqrj9A&feature=youtu.be" role="button"> Mucho </a>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=9K_rDflgpOs" role="button"> Poquito </a>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=A_VZXLUunCY" role="button"> Nada </a>
    
  </div>
{% endblock %}